.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #333;
}

.flex-col {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.split-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

label {
    font-size: 1.2em;
    margin-bottom: 5px;
}

input[type="text"],
select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0077b5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00649f;
}

@media (min-width: 768px) {
    .split-container {
        flex-direction: column;
    }

    .split-container>div {
        width: 100%;
    }

    input[type="text"] {
        width: 48%;
    }

    input[type="text"]:nth-child(even) {
        margin-left: 4%;
    }
}